body{
	background-color:#BE0200;
	text-align:center;
}
h1{
	color:#FFFF00;
	font-size:60px;
	-webkit-text-stroke:2px black;
}
p{
	font-size:30px;
	color:#FFFFFF;
}

h3{
	color:#FFFF00;
	font-size:40px;
	-webkit-text-stroke:2px black;
}