body {
	background:#BE0200;
	/*background-image: url('http://www.hdwallpapers.in/walls/hiro_baymax_in_big_hero_6-wide.jpg');
	height: 100%;
		-webkit-background-size: cover;
			-moz-background-size: cover;
				-o-background-size: cover;
					background-size: cover;*/

  left: 0;
  margin: 0;
  overflow: hidden;
  position: absolute;
}

.menu {
  background: #BE0200;
  bottom: -350px;
  left:400px;
  height: 200px;
  position: fixed;
  width: 100%;
}

.jumbotron {
	padding-left:10px;
	position: fixed;
	-webkit-text-stroke:2px black;
}
.menu ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display:inline;
}

.menu li {
  font-family: 'Open Sans', sans-serif;
  line-height: 200px;
  padding-bottom: 10px;
  text-align:center;
  padding-left: 50px;
  padding-top: 3px;
  display:inline;
  
}

.menu a {
  color: #ffffff;
  font-size: 60px;
  font-family:fantasy;
  text-decoration: none;
  -webkit-text-stroke:2px black;
  transform:rotate(350deg);
}

.icon-close {
  cursor: pointer;
  padding-left: 0px;
  padding-top: 150px;
  position:fixed;
  left:-400px;
  top:0;
}
.icon-menu {
  color: #fff;
  cursor: pointer;
  font-family: fantasy;
  padding-bottom: 25px;
  padding-left: 25px;
  padding-top:25px;
  text-decoration: none;
  text-transform: uppercase;
  font-size:100px;
  transform:rotate(350deg);
  position:relative;
}
.icon-menu i {
  margin-right: 5px;
}